<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NeriNyan: osu! beatmap mirror</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="NeriNyan: osu! Beatmap Mirror">
    <link rel="canonical" href="https://nerina.pw/">
    <link rel="alternate" href="https://nerina.pw/">
    <meta property="og:url" content="https://nerina.pw/">
    <meta property="og:site_name" content="NeriNyan: osu! Beatmap Mirror">
    <meta property="og:type" content="website">
    <meta name="Subject" content="osu! Beatmap Mirror">
    <meta name="Publisher" content="osu! Beatmap Mirror">
    <meta name="description" content="osu! beatmap mirror by nerina">
    <meta name="keywords"
        content="osu!,오스,beatmap,osu! beatmap, osu! mirror, bloodcat, beatconnect, nerina, osu! beatmap mirror, mirror, beatmap mirror, cookiezi">
    <meta name="author" content="Nerina">
    <meta name="Location" content="South Korea">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta property="article:tag" content="osu!">
    <meta property="article:tag" content="osu! beatmap mirror">
    <meta property="article:tag" content="osu! beatmap">
    <meta property="article:tag" content="osu! beatmap download">
    <meta property="article:tag" content="osu! mirror">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PZPLP7ZRTL"></script>
    <script src="/static/js/jquery.min.js"></script>
    <!-- <script src="/static/js/anime.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@animxyz/core">

    <link href="https://rawcdn.githack.com/hung1001/font-awesome-pro/0ac23ca/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.min.css?6828142">
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-PZPLP7ZRTL');
    </script>
</head>
<body>
    <noscript>
        현재 사용 중인 브라우저는 스크립트를 지원하지 않거나, 해당 기능이 활성화되어 있지 않습니다!
    </noscript>
    <script>
        var creator = {{ creator }};
        var nsfw = {{ nsfw }};
        var extra = '{{ extra }}';
        var m = '{{ mode }}';
        var s = '{{ status }}';
        var q = '{{ query }}';
        var sort = '{{ sort }}';
        var scrptloadchk = 0;
        var dlNovideo = 0;
        var SubServer = {{ SubServerStatus }};
        if (SubServer != 200) {
            var dlserver = 1;
        }
        else {
            var dlserver = 0;
        }
    </script>
    <div id="app">
        <el-col class="loading" :span="24" v-bind:class="{ 'load' : load }" v-if="first_load">
            <div class="artboard">
                <span class="loadingcircle"><i class="el-icon-loading"></i></span>
                <span class="loadtxt">Please Wait</span>
            </div>
        </el-col>

        <div class="ui container" id="main-form">
            <div class="ui-navbar-block">
                <el-row class="navbar logo">
                    <el-col :span="24">
                        <div class="navbar-search-box">
                            <a href="/main" class="logo">NeriNyan: osu! Beatmap Mirror</a>
                            <a href="https://discordapp.com/users/637921223312932895/" class="nav-logo right"><i
                                    class="fab fa-discord"></i></a>
                            <a href="mailto:nerina@debian.moe" class="nav-logo2 right">DMCA</i></a>
                        </div>
                    </el-col>
                </el-row>
            </div>
            
            <div class="sticky">
                <div class="ui-navbar-block">
                    <el-row class="navbar search">
                        <el-col :span="24" class="navbar-search-flex">
                            <div class="navbar-search-box aa">
                                <div class="navbar-search-block">
                                    <el-input class="dark" placeholder="Search..."
                                        v-model="search_query">
                                    </el-input>
                                    <i class="fas fa-search navbar-search-icon"></i>
                                </div>
                            </div>
                        </el-col>
                        <div class="navbar-beatmapsearch-options-block" id="navbar-beatmapsearch-options-block">
                            <div class="navbar-beatmapsearch-options">
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Mode</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="mode=-1" :class="mode == -1 ? 'active' : ''">
                                            <span>Any</span>
                                        </p>
                                        <p v-on:click="mode=0" :class="mode == 0 ? 'active' : ''">
                                            <span>osu!</span>
                                        </p>
                                        <p v-on:click="mode=1" :class="mode == 1 ? 'active' : ''">
                                            <span>osu!taiko</span>
                                        </p>
                                        <p v-on:click="mode=2" :class="mode == 2 ? 'active' : ''">
                                            <span>osu!catch</span>
                                        </p>
                                        <p v-on:click="mode=3" :class="mode == 3 ? 'active' : ''">
                                            <span>osu!mania</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Categories</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="rank='any'" :class="rank == 'any' ? 'active' : ''">
                                            <span>Any</span>
                                        </p>
                                        <p v-on:click="rank=''" :class="rank == '' ? 'active' : ''">
                                            <span>Has Leaderboard</span>
                                        </p>
                                        <p v-on:click="rank='ranked'" :class="rank == 'ranked' ? 'active' : ''">
                                            <span>Ranked</span>
                                        </p>
                                        <p v-on:click="rank='qualified'" :class="rank == 'qualified' ? 'active' : ''">
                                            <span>Qualified</span>
                                        </p>
                                        <p v-on:click="rank='loved'" :class="rank == 'loved' ? 'active' : ''">
                                            <span>Loved</span>
                                        </p>
                                        <p v-on:click="rank='pending'" :class="rank == 'pending' ? 'active' : ''">
                                            <span>Pending</span>
                                        </p>
                                        <p v-on:click="rank='graveyard'" :class="rank == 'graveyard' ? 'active' : ''">
                                            <span>Graveyard</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-beatmapsearch-options">
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Explicit Content</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="nsfw=0" :class="nsfw == '0' ? 'active' : ''">
                                            <span>Hide</span>
                                        </p>
                                        <p v-on:click="nsfw=1" :class="nsfw == '1' ? 'active' : ''">
                                            <span>Show</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Extra</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="extraChanged('video')" :class="extra.includes('video') ? 'active' : ''">
                                            <span>Has Video</span>
                                        </p>
                                        <p v-on:click="extraChanged('storyboard')" :class="extra.includes('storyboard') ? 'active' : ''">
                                            <span>Has Storyboard</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-beatmapsearch-options">
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Sort by</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="changeSort('title')" :class="sort == 'title_desc' ? 'active' : '' || sort == 'title_asc' ? 'active' : ''">
                                            <span>Title
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('artist')" :class="sort == 'artist_desc' ? 'active' : '' || sort == 'artist_asc' ? 'active' : ''">
                                            <span>Artist
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('difficulty')" :class="sort == 'difficulty_desc' ? 'active' : '' || sort == 'difficulty_asc' ? 'active' : ''">
                                            <span>Difficulty
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('ranked')" :class="sort == 'ranked_desc' ? 'active' : '' || sort == 'ranked_asc' ? 'active' : ''">
                                            <span>Ranked
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('updated')" :class="sort == 'updated_desc' ? 'active' : '' || sort == 'updated_asc' ? 'active' : ''">
                                            <span>Updated
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('plays')" :class="sort == 'plays_desc' ? 'active' : '' || sort == 'plays_asc' ? 'active' : ''">
                                            <span>Plays
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('favourites')" :class="sort == 'favourites_desc' ? 'active' : '' || sort == 'favourites_asc' ? 'active' : ''">
                                            <span>Favourites
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Download Server</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="serverid = 0" :class="serverid == 0 ? 'active' : ''" v-if="{{ SubServerStatus }} == 200">
                                            <span>Any</span>
                                        </p>
                                        <p :class="serverid == 0 ? 'active' : ''" v-if="{{ SubServerStatus }} != 200" style="color: black;">
                                            <span>Any</span>
                                        </p>

                                        <p v-on:click="serverid = 1" :class="serverid == 1 ? 'active' : ''">
                                            <span>Main Server(kr)</span>
                                        </p>

                                        <p v-on:click="serverid = 2" :class="serverid == 2 ? 'active' : ''">
                                            <span>Sub Server(kr)</span>
                                        </p>
                                        <p :class="serverid == 2 ? 'active' : ''" v-if="{{ SubServerStatus }} != 200" style="color: black;">
                                            <span>Sub Server(kr)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="navbar-beatmapsearch-options-block" id="navbar-beatmapsearch-options-sub-block" v-if="isExpand">
                            <div class="navbar-beatmapsearch-options">
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Mode</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="mode=-1" :class="mode == -1 ? 'active' : ''">
                                            <span>Any</span>
                                        </p>
                                        <p v-on:click="mode=0" :class="mode == 0 ? 'active' : ''">
                                            <span>osu!</span>
                                        </p>
                                        <p v-on:click="mode=1" :class="mode == 1 ? 'active' : ''">
                                            <span>osu!taiko</span>
                                        </p>
                                        <p v-on:click="mode=2" :class="mode == 2 ? 'active' : ''">
                                            <span>osu!catch</span>
                                        </p>
                                        <p v-on:click="mode=3" :class="mode == 3 ? 'active' : ''">
                                            <span>osu!mania</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-beatmapsearch-options">
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Categories</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="rank='any'" :class="rank == 'any' ? 'active' : ''">
                                            <span>Any</span>
                                        </p>
                                        <p v-on:click="rank=''" :class="rank == '' ? 'active' : ''">
                                            <span>Has Leaderboard</span>
                                        </p>
                                        <p v-on:click="rank='ranked'" :class="rank == 'ranked' ? 'active' : ''">
                                            <span>Ranked</span>
                                        </p>
                                        <p v-on:click="rank='qualified'" :class="rank == 'qualified' ? 'active' : ''">
                                            <span>Qualified</span>
                                        </p>
                                        <p v-on:click="rank='loved'" :class="rank == 'loved' ? 'active' : ''">
                                            <span>Loved</span>
                                        </p>
                                        <p v-on:click="rank='pending'" :class="rank == 'pending' ? 'active' : ''">
                                            <span>Pending</span>
                                        </p>
                                        <p v-on:click="rank='graveyard'" :class="rank == 'graveyard' ? 'active' : ''">
                                            <span>Graveyard</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-beatmapsearch-options">
                                <div class="navbar-beatmapsearch-options-single">
                                    <span class="navbar-beatmapsearch-options-title">Sort by</span>
                                    <div class="navbar-beatmapsearch-options-description">
                                        <p v-on:click="changeSort('title')" :class="sort == 'title_desc' ? 'active' : '' || sort == 'title_asc' ? 'active' : ''">
                                            <span>Title
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('artist')" :class="sort == 'artist_desc' ? 'active' : '' || sort == 'artist_asc' ? 'active' : ''">
                                            <span>Artist
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('difficulty')" :class="sort == 'difficulty_desc' ? 'active' : '' || sort == 'difficulty_asc' ? 'active' : ''">
                                            <span>Difficulty
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('ranked')" :class="sort == 'ranked_desc' ? 'active' : '' || sort == 'ranked_asc' ? 'active' : ''">
                                            <span>Ranked
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                        <p v-on:click="changeSort('favourites')" :class="sort == 'favourites_desc' ? 'active' : '' || sort == 'favourites_asc' ? 'active' : ''">
                                            <span>Favourites
                                                <span class="sort__item-arrow">
                                                    <i :class="'fas fa-caret-' + convertSortIcon(sort)"></i>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-expand-toggle-btn" id="navbar-expand-toggle">
                            <i :class="isExpand ? 'fas fa-sort-up' : 'fas fa-sort-down'" v-on:click="toggleExpand()"></i>
                        </div>
                    </el-row>
                </div>
            </div>
            <div class="backtotop" id="backtotop">
                <i class="fas fa-chevron-up"></i>
            </div>
            <el-alert title="{{ Title }}" type="{{ AlertType }}"
                description="{{ Description }}" show-icon effect="dark">
            </el-alert>
            <div class="ui-main-block">
                <div class="beatmap-row">
                    <template v-for="(i, index) in list" v-bind:key="i.id">
                        <beatmap :beatmap="i"></beatmap>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/vue_modules/vue.min.js" onload="scrptloadchk += 1;"></script>
    <script src="/static/vue_modules/vue-axios-plugin.min.js" onload="scrptloadchk += 1;"></script>
    <script src="/static/vue_modules/vue-timeago.min.js" onload="scrptloadchk += 1;"></script>
    <script src="/static/vue/mixins/generalMixins.min.js?13656742" onload="scrptloadchk += 1;"></script>
    <script src="/static/vue/pages/index.min.js?12618421" onload="scrptloadchk += 1;"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js" onload="scrptloadchk += 1;"></script>
    <script>
        setTimeout(CheckLoadScript, 1000);

        function CheckLoadScript() {
            if (scrptloadchk != 6) {
                window.location.replace(window.location.pathname + window.location.search + window.location.hash);
            }
        }
    </script>
    <script>
        function navbarchange()
        {
            var tid = $('#navbar-beatmapsearch-options-block')
            var tidsub = $('#navbar-expand-toggle')
            var tidssub = $('#navbar-beatmapsearch-options-sub-block')
            var tid_t = tid.offset().top
            var window_t = $(window).scrollTop()

            if( origin_val.top <= window_t )
            {
                tid.css('display', 'none')
                tidsub.css('display', 'flex')
                tidssub.css('display', 'flex')
            }
            if (tid_t == window_t ) {
                tid.css('display', origin_val.display)
                tidsub.css('display', 'none')
                tidssub.css('display', 'none')
            }
        };
        $("#backtotop").click(function () {
            $("html, body").animate({scrollTop: 0}, 1000);
        });
        var origin_val = {}
        origin_val.top = $('#navbar-beatmapsearch-options-block').offset().top
        origin_val.display = $('#navbar-beatmapsearch-options-block').css('display')
        $(window).scroll(function(){
            navbarchange()
        });
    </script>
    </script>
</body>

</html>